<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>bbs club</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/bootstrap.min.js"></script>
    <script src="/static/lib/markdown.js"></script>
    <script src="/static/lib/to-markdown.js"></script>
    <script src="/static/lib/bootstrap-markdown.js"></script>
    <script src="/static/lib/bootstrap-markdown.fr.js"></script>
</head>

<body>
<div id="main">
    <div id="content">
        <div class='panel'>
            <div class='header topic_header'>
                 <span class="topic_full_title">
			{{ page.title }}
            	</span>

           <div class="changes">
                <span>
                发布于 2 天前
                </span>
                <span>
                作者
                <a href="/user/hopperhuang">{{ page.user(page.userid).username }}</a>
                </span>
                <span>
          	    {{ page.tag }} 次浏览
                </span>
                 <span>
                来自 问答
                 </span>
           </div>
           </div>



            <div class='inner topic'>
                <div class='topic_content'>
                    <div class="markdown-text">

                        {{ markdown.markdown(page.content)|safe }}

                    </div>
                </div>


                {% for r in replys %}
                    <div class='cell reply_area reply_item'>
                        <div class='author_content'>
                            <a href="/user/leiwei1991" class="user_avatar">
                                <img src="https://avatars2.githubusercontent.com/u/10721874?v=3&amp;s=120"
                                     title="{{ r.user(r.userid).username }}"/>
                            </a>
                            <div class='user_info'>
                                <a class='dark reply_author'>
                                    {{ r.user(r.userid).username }}
                                </a>
                                <a class="reply_time">
                                    1楼 • {{ r.create_time }}
                                </a>
                            </div>
                            <div class='user_action'>
                    <span>
                        <i class="fa up_btn
                          fa-thumbs-o-up
                          invisible" title="喜欢"></i>
                        <span class="up-count">
                        </span>
                    </span>
                            </div>
                        </div>
                        <div class='reply_content from-leiwei1991'>
                            <div data-provide="markdown" class="markdown-text">

                                {{ markdown.markdown(r.content)|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


    <div class='panel' style="min-width: 200px">
        <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {# topic.replies() | count #} 回复
            </span>


        </div>


        <div class="re_content">
            <form action="{{ url_for('posting_commit') }}" method="POST" style="background-color: #F5F5F5">
                <input type="hidden" name="page_id" value="{{ page.id | string }}">
                <textarea data-provide="markdown" data-iconlibrary="fa" class='editor' name='content' rows='20' id="editor" ></textarea>
                <button class="btn-primary btn-block" >添加回复</button>
            </form>
        </div>
    </div>
</div>
</body>
    <script type="text/javascript">
    //显示中文提示
    (function ($) {
      $.fn.markdown.messages.zh = {
        'Bold': "粗体",
        'Italic': "斜体",
        'Heading': "标题",
        'URL/Link': "链接",
        'Image': "图片",
        'List': "列表",
        'Unordered List': "无序列表",
        'Ordered List': "有序列表",
        'Code': "代码",
        'Quote': "引用",
        'Preview': "预览",
        'strong text': "粗体",
        'emphasized text': "强调",
        'heading text': "标题",
        'enter link description here': "输入链接说明",
        'Insert Hyperlink': "URL地址",
        'enter image description here': "输入图片说明",
        'Insert Image Hyperlink': "图片URL地址",
        'enter image title here': "在这里输入图片标题",
        'list text here': "这里是列表文本",
        'code text here': "这里输入代码",
        'quote here': "这里输入引用文本"
      };
    }(jQuery));
    //初始化编辑器
    $("#editor").markdown({
        autofocus: true,
        language: 'zh',
    })

    </script>>
</html>